#app {
    display: grid;
    grid-template-columns: 1fr;
}
.vote-button {
    font-size: 5em;
    color: white;
}

.vote-buttons-wrapper {
    margin-top: 1em;
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5em;
}

.progress-bar {
    font-size: 3em;
}

.progress {
    height: 5em;
}

#candidate {
    text-align: center;
}

#chat {
    margin-top: 1em;
}

body {
    padding: 20px;
}
