#app {
    display: grid;
    grid-template-columns: 1fr;
    width: 90vw;
    margin: auto;
}

.vote-button {
    font-size: 2.5em;
    height: 33vh;
    color: white;
}

.vote-buttons-wrapper {
    margin-top: 1em;
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.progress-bar {
    font-size: 3em;
}

.progress {
    height: 8em;
}

#candidate {
    text-align: center;
    font-size: 1em;
    width: 100%;
}

#current-candidate-input {
    width: 66%;
}

#chat {
    margin-top: 1em;
}

body {
    padding: 0px;
    margin: 0px;
}

@media screen and (min-width: 800px) {
    .vote-button {
        font-size: 4.5em;
    }
}
