<html>
    <head> <title> Kappa TT Voting | Admin Page </title> </head>
    {% include 'includes/header.html' %}

    <body>
        <div id="app">
            <div id="candidate">
                <h1> <input type="text" style="text-align: center;" id="current-candidate-input"></input> </h1>
            </div>
            {% include 'includes/voting.html' %}
            <button id="vote-reset"> reset </button>
            {% include 'includes/chat.html' %}
        </div>
    </body>

    {% include 'includes/footer.html' %}
</html>
