<html>
    <head> <title> Kappa TT Voting </title> </head>
    {% include 'includes/header.html' %}

    <body>
        <div id="app">
            <div id="candidate">
                current candidate: <h1> <span id="current-candidate"></span> </h1>
            </div>
            <div id="voting">
                A black border around "Yes" or "No" means that your vote was successfully submitted.
                {% include 'includes/vote-buttons-wrapper.html' %}
            </div>
            <div id="chat">
                <p> Please put your name in the "name" field to submit your form </p>
                <label> Name </label>
                <input type="text" id="name-input"></input>
                <br> <br>
                <form action="#" id="msg-form">
                    <label>"No" Form</label>
                    <input type="text" id="msg-input"></input>
                    <input type="submit"></input>
                </form>
            </div>
        </div>
    </body>

    {% include 'includes/footer.html' %}
</html>
