<html>
    <head> <title> Kappa Theta Tau Voting </title> </head>
    <style>
        .vote-button {
            font-size: 40px;
        }
    </style>

    <body>
        <h1> Vote here </h1>
        <button class="vote-button" id="vote-yes" type="button" id="vote-yes">Yes</button>
        <button class="vote-button" id="vote-no" type="button" id="vote-no">No</button> 
        <button id="vote-undo" type="button" id="vote-no">Undo</button> <br>
        <span id="yes-vote-count"> 0 </span> Yes <br>
        <span id="no-vote-count"> 0 </span> No <br>
        <button id="vote-reset"> Reset </button>
        <br> <br> <br>

        <p> Please put your name in the "name" field to chat </p>
        <label> Name </label>
        <input type="text" id="name-input"></input>
        <br> <br>
        <form action="#" id="msg-form">
            <label>Chat</label>
            <input type="text" id="msg-input"></input>
            <input type="submit"></input>
        </form>

        <h2> Chat </h2>
        <div id="chat-room"></div>
    </body>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script> 
    <script type="text/javascript">

        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for(var i = 0; i <ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        $(document).ready(function() {
            var url = "http://" + document.domain + ":" + location.port;
            var socket = io.connect(url + "/app");
            var canVote = false;

            // Server --> Client
            socket.on('msg', function(msg) {
                $("#chat-room").prepend('<p>' + msg.msg + '</p>');
            });

            socket.on('uuid', function(msg) {
                if (getCookie('uuid') == "") {
                    document.cookie = 'uuid='+msg.uuid;
                }
            });

            socket.on('vote', function(msg) {
                console.log(msg)
                $("#yes-vote-count").html(msg.yes_vote_count);
                $("#no-vote-count").html(msg.no_vote_count);
            });

            // Client --> Server
            $('#vote-yes').click(function(){
                console.log('voted yes');
                socket.emit('vote', {uuid: getCookie('uuid'), vote: 'Yes'});
            });

            $('#vote-no').click(function(){
                console.log('voted no');
                socket.emit('vote', {uuid: getCookie('uuid'), vote: 'No'});
            });

            $('#vote-reset').click(function(){
                socket.emit('vote_reset', {});
            });

            $('#vote-undo').click(function(){
                socket.emit('vote_undo', {'uuid': getCookie('uuid')});
            });

            $('#msg-form').submit(function(){
                if ($("#name-input").val() == "") {
                    name = "anonymous";
                } else {
                    name = $("#name-input").val() ;
                }
                msg = name + ": " + $('#msg-input').val()
                socket.emit('msg', {'msg': msg});
                $('#msg-input').val('');
                return false;
            });
        });
    </script>
</html>
